// Variables

//fonts
$font-josefin: 'Josefin Sans', sans-serif;
$font-aleo-regular: 'aleoregular', serif; 

//font sizes
$font-base: 14px;
$font-base-grown: 16px;
$font-h1: 48px;
$font-h2: 36px;
$font-h3: 22px;
$font-logo: 24px;
$line-height-base: 1.6;

//colors
$color-white: #fff;
$color-white-grey: #e8e8e8;
$color-grey: #999999;
$color-grey-black: #333333;
$color-blue: #5474fd;
$color-blue-lighter: #526cdd;
$color-orange: #ff6363;
$color-country-about: #2d2828;

// path

