.country-about {
    width: 540px;
    padding: 45px 30px;
    background-color: rgba(35,35,35,0.9);
    color: $color-white-grey;
    

    &__name {

        padding-bottom: 20px;
        font-size: 20px;
        letter-spacing: 0.75px;
        font-weight: 500;

    }

    &__title {

        padding-bottom: 20px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        
    }

    &__description {

        padding-bottom: 40px;
        @include description;


    }
}
